/*hw6.css
Heron Melo
heron_melo@student.uml.edu
Student of GUI Programming I 91.61 - UML
File Created on: 10/15/2020
In this assignment we will create a dynamic table.
styling file*/

/*form styling */
#form {
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

#multiplicationTable {
  width: auto;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
}

/* cell styling  */

#multiplicationTable td {
  border: 2px solid black;
  text-align: right;
  background-color: white;
  padding: 5px;
  width: 30px;
}

#multiplicationTable tbody tr:first-child td {
  background-color: #0040f3;
  color: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
}

/* alternative styling  */
#multiplicationTable td:nth-child(),
#multiplicationTable tr:nth-child() td {
  background-color: white;
}

#errorMessage,
.error {
  color: red;
}

#multiplicationTable tbody td:first-child {
  background-color: #0040f3;
  color: white;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}
